# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Node modules
node_modules/

# Build output
/dist/

# Test output and test files
/tests/
setupTests.js
jest.config.js
coverage/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Misc
*.log

# Ignore package-lock if you want lockfile-free
# package-lock.json 